<div class="jumbotrom mt-4">
  <h1 class="display-4">
    Notes App Nodejs and MongoDB
  </h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Accusamus, nulla accusantium dolorum ut consectetur voluptate!</p>
  <hr class="my-4" />
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, error
    corporis impedit corrupti quaerat qui.</p>
  <a href="https://direction" class="btn btn-primary">CRACKERO</a>
</div>